extends layout

block main
  form(action="/surveys" method="post")
    dl
      dt
        label(for="surveyTitle") Title
      dd
        input(type="text"
              id="surveyTitle"
              name="surveyTitle"
              placeholder="Survey Title"
              value=surveyTitle)
      
    fieldset.actions
      button(type="submit") Save
      a.cancel(href="/surveys") Cancel
