extends layout

block main
  p Please create your credentials.

  form(action=`/users/signup` method="post")
    dl
      dt
        label(for="username") Username:
      dd
        input(type="text" name="username" placeholder="username" value=username)

      dt
        label(for="password") Password:
      dd
        input(type="password" name="password" placeholder="password")

    fieldset.actions
      button(type="submit") Sign Up

  p Already have an account? 
    a.signin(href="/users/signin") Sign In
    a.doc_link(href="https://github.com/MykolasV/surveys")
      img(src="/images/GitHub-Mark-64px.png" alt="")

block signIn
