extends layout

block main
  p Please sign in.

  form(action=`/users/signin` method="post")
    dl
      dt
        label(for="username") Username
      dd
        input(type="text" name="username" id="username" placeholder="username" value=username)

      dt
        label(for="password") Password
      dd
        input(type="password" name="password" id="password" placeholder="********")

    fieldset.actions
      button(type="submit") Sign In

  p Don't have an account? 
    a.signup(href="/users/signup") Sign Up
    a.doc_link(href="https://github.com/MykolasV/surveys")
      img(src="/images/GitHub-Mark-64px.png")

block signIn 
