extends layout

block main
  p Please sign in.

  form(action=`/users/signin` method="post")
    dl
      dt
        label(for="username") Username:
      dd
        input(type="text" name="username" placeholder="username" value=username)

      dt
        label(for="password") Password:
      dd
        input(type="password" name="password" placeholder="password")

    fieldset.actions
      input(type="submit" value="Sign In")

  p Don't have an account? 
    a(href="/users/signup") Sign Up

block signIn 
