extends layout

block main
  if surveys === undefined || surveys.length === 0
    p#no_list You don't have any surveys. Why not create one?
  else
    ul#surveys_list
      each survey, surveyIndex in surveys
        - let surveyInfo = surveysInfo[surveyIndex];
        li
          a(href=`/surveys/${survey.id}`)
            .survey_details
              h2= survey.title
              p Questions: #{surveyInfo.countAllQuestions}
              p Participants: #{surveyInfo.countAllParticipants}

block headerLinks
  .actions
    a.add(href="/surveys/new") New Survey
