extends layout

block main
  if surveys === undefined || surveys.length === 0
    p#no_list You don't have any surveys. Why not create one?
  else
    ul#surveys_list
      each survey, surveyIndex in surveys
        li
          a(href=`/surveys/${survey.id}`)
            .survey_details
              h2= survey.title
              p Questions: #{survey.numberOfQuestions}
              p Participants: #{survey.numberOfParticipants}

block headerLinks
  .actions
    a.add(href="/surveys/new") New Survey
