extends layout

block main
  if surveys === undefined || surveys.length === 0
    p#no_list You don't have any surveys. Why not create one?
  else
    p You have some surveys. We need to list them.

block headerLinks
  .actions
    a.add(href="/surveys/new") New Survey
