/* ===== CSS for all cell phones and shared cross-browser CSS ===== */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #5668A5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%235668A5'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-size: 20px;
  padding: 0 30px 40px;
}

main {
  background-color: rgb(255, 255, 255, 0.7);
  width: 100%;
  padding: 20px 20px 48px;
  border-radius: 14px;
}

header {
  padding: 0 0 40px 0;
  margin: 100px 0 20px 0;
}

h1 {
  font-size: 60px;
  margin: 0 0 40px 0;
}

h2 {
  font-size: 38px;
  margin: 0 auto 20px;
}

h3 {
  font-size: 28px;
  padding: 0 0 20px 0;
  margin: 20px 0 0;
}

p {
  display: inline-block;
}

header h2 {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
}

header p {
  margin: 0 0 20px 0;
}

header .actions {
  margin: 20px 0 0 0;
}

.actions img,
main > img {
  display: block;
  width: 85px;
  height: 85px;
  margin: 20px auto;
  position: relative;
  animation: move-up-down 2s linear infinite;
}

@keyframes move-up-down {
  0%, 100% {
    top: 0;
  }

  50% {
    top: 20px;
  }
}

main header {
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: inherit
}

a.signin:hover,
a.signup:hover,
a.survey_link:hover,
a.start_survey:hover {
  color: #8092b1;
}

button {
  font-size: inherit;
  font-family: inherit;
  margin: 20px;
  padding: 10px 20px;
}

.actions a,
a#add_form_link,
button,
header form.edit,
header form.delete {
  padding: 10px;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.actions a:hover,
a#add_form_link:hover,
button:hover,
header form.edit:hover,
header form.delete:hover {
  background-color: #f2f1f1;
  color: inherit;
}

header form.edit,
header form.delete {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0 0 0;
  padding: 0;
}

.flash {
  width: 100%;
  padding: 4px 0;
  margin: 0 auto 8px;
  border-radius: 6px;
}

.error {
  background-color: rgb(255, 161, 118);
  color: #ff0000;
}

.success,
.info {
  background-color: #a6dfc9;
  color: #3d7046;
}

form dd input,
form dd select,
form dd textarea {
  font-size: 18px;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  border: 1px solid #d6d3d3;
  border-radius: 5px;
}

textarea {
  resize: none;
}

form.edit button,
form.delete button {
  background-color: inherit;
  padding: 2px 5px;
  margin: 0;
  border: none;
}

form.edit img,
.edit_form_link img {
  width: 17px;
  height: 17px;;
}

form.delete button img {
  width: 18px;
  height: 18px;;
}

.add_question,
.edit_question,
.confirm_modal {
  display: none;
  background-color: #fff;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  border-radius: 14px;
}

.confirm_modal {
  padding: 20px 5px;
}

.add_question .invalid,
.edit_question .invalid {
  border-color: red;
}

.add_question #errors,
.edit_question #errors {
  margin: 0 5px;
}

#questions .edit_question li.flash.error {
  text-align: center;
  width: 100%;
  padding: 4px 0;
  margin: 0 auto 8px;
  background-color: rgb(255, 161, 118);
  color: #ff0000;
}

.overlay {
  display: none;
  background-color: #8092b1;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.add_question input,
.edit_question input {
  width: 80%;
}

.add_question select,
.edit_question select {
  width: 30%;
  text-align: center;
}

a.doc_link {
  display: block;
  font-style: italic;
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
  border-radius: 50%;
}

a.doc_link:hover {
  background-color: #ebeaea;
}

/* ===== Sign up / Sign in page ===== */

form {
  padding: 60px 0 0;
}

form dl {
  padding: 0 0 30px 0;
}

form dt,
form dd {
  display: block;
  height: 40px;
  margin: 10px 0 0 0;
}

form dt {
  height: 30px;
}

form dd {
  margin-bottom: 30px;
}

form dd label {
  text-align: center;
}

form .actions {
  margin: 20px 0 60px;
}

/* ===== List of surveys page / Dashboard ===== */

#surveys_list {
  width: 100%;
  margin: 0 auto;
}

#surveys_list li {
  display: inline-block;
  vertical-align: top;
  background-color: #f7f7f7;
  width: 220px;
  margin: 0 0 30px;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
}

#surveys_list li a {
  padding: 0 20px;
}

#surveys_list li a:hover {
  color: #8092b1;
}

.survey_details p {
  display: block;
  margin: 20px auto;
}

.survey_details h3 {
  font-size: 28px;
  padding: 0;
  margin: 0 auto;
}

#surveys_filter {
  margin: 0 0 40px;
}

#surveys_filter label {
  margin: 0 10px 0 0;
}

#surveys_filter label,
#surveys_filter select {
  display: inline-block;
  vertical-align: middle;
}

#surveys_filter select {
  font-size: 18px;
  height: 26px;
  border-radius: 6px;
}

/* ===== Survey Page ===== */

#questions {
  margin: 0 0 60px 0;
}

#questions li {
  width: 100%;
  padding: 10px;
  margin: 0 auto 25px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #e0e6f8;
  text-align: justify;
}

#questions li p {
  text-align: left;
  width: 70%;
  margin: 0;
}

#questions a.edit_form_link {
  display: inline-block;
  background-color: inherit;
  padding: 2px 5px;
  margin: 0;
  border: none;
  border-radius: 5px;
}

#questions form.delete {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
}

#questions a.edit_form_link {
  margin-right: 10px;
}

#questions a.edit_form_link:hover,
#questions form.delete:hover {
  background-color: #acbfef;
}

#questions + img {
  transform: rotate(180deg);
  margin-bottom: 40px;
}

#add_form_link {
  margin: 60px 0 0;
}

.publish {
  margin: 0 0 40px;
}

.question_actions {
  display: inline-block;
  text-align: right;
  width: 30%;
}

/* ===== Published Survey Page ===== */

#questions.published li p {
  vertical-align: middle;
  margin: 0;
  text-align: left;
}

#questions.published li form {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  text-align: right;
  padding: 0;
}

#questions.published form button {
  margin: 0;
}

/* ===== Survey Form ===== */

.submit_survey {
  padding: 10px 0 0;
  margin: 0 auto;
  text-align: left;
}

.submit_survey dl {
  padding: 0;
}

.submit_survey dt,
.submit_survey dd {
  height: auto;
}

.submit_survey dt {
  margin-bottom: 20px;
}

.submit_survey dd {
  margin-bottom: 60px;
}

.submit_survey label,
.submit_survey input {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  text-align: left;
}

.submit_survey dt label {
  margin: 0 10px 0 0;
}

.submit_survey dd label {
  margin: 0 0 0 10px;
}

.submit_survey button {
  display: block;
  margin: 0 auto 60px;
}

.wrapper {
  display: block;
  margin: 0 0 10px 0;
}

.required {
  color: red;
}

/* ===== Results Page ===== */

#answers li {
  padding: 10px;
  margin: 0 auto 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #e0e6f8;
}

/* ===== Adjustments for larger screens ===== */

@media screen and (min-width: 481px) {
  #surveys_list li {
    margin-right: 30px;
    margin-left: 30px;
  }

  header form.edit,
  header form.delete {
    margin: 0 0 0 20px;
  }
}

@media screen and (min-width: 685px) {
  body {
    padding-left: 40px;
    padding-right: 40px;
  }

  form dd input {
    width: 50%;
  }

  .add_question {
    width: 80%;
  }

  .add_question select {
    width: 30%;
  }

  #questions li {
    width: 90%;
  }

  h2,
  main p {
    width: 70%;
  }

  .submit_survey {
    width: 90%;
  }

  span.answer,
  span.option {
    width: 80%;
  }

  .add_question #errors,
  .edit_question #errors {
    margin: 0 20px;
  }

  .confirm_modal {
    width: 60%;
  }
}

@media screen and (min-width: 961px) {
  body {
    padding-left: 180px;
    padding-right: 180px;
  }

  .add_question,
  .edit_question {
    width: 80%;
  }
  
  .add_question input,
  .edit_question input {
    width: 50%;
  }

  .add_question select,
  .edit_question select {
    width: 20%;
  }

  #questions li,
  #answers li {
    width: 80%;
  }

  .submit_survey {
    width: 70%;
  }

  span.answer,
  span.option {
    width: 60%;
  }

  .confirm_modal {
    width: 40%;
  }
}

@media screen and (min-width: 1501px) {
  body {
    padding-left: 220px;
    padding-right: 220px;
  }

  form dd input {
    width: 30%;
  }

  .add_question,
  .edit_question {
    width: 60%;
  }

  .add_question input,
  .edit_question input {
    width: 60%;
  }

  .add_question select,
  .edit_question select {
    width: 15%;
  }

  #questions li,
  #answers li {
    width: 70%;
  }

  .submit_survey {
    width: 50%;
  }

  span.answer,
  span.option {
    width: 40%;
  }

  .confirm_modal {
    width: 30%;
  }
}
