body {
  text-align: center;
  font-size: 20px;
}

header {
  padding: 40px 0 20px;
}

header .actions {
  margin: 30px 0;
}

h1 {
  font-size: 38px;
}

#surveys_list {
  margin: 30px 0 0 0;
}

a {
  text-decoration: none;
}

#surveys_list li {
  background-color: #abbffa;
  margin-bottom: 5px;
}

li h2, li p {
  display: inline-block;
  margin: 10px;
}

.flash {
  padding: 4px 0;
  margin: 0 0 4px 0;
}

.error {
  background-color: rgb(255, 161, 118);
  color: #ff0000;
}

.success {
  background-color: #baf6e2;
  color: #02f702;
}
